<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <td id="contentPage"></td>
                    <h2>Consultar Estado de Pagos</h2>
                    <p class="mb-md-0">Your analytics dashboard template.</p>
                </div>
                <div class="d-flex">
                    <i class="mdi mdi-home text-muted hover-cursor"></i>
                    <p class="text-muted mb-0 hover-cursor">Dashboard</p>
                    <p class="text-primary mb-0 hover-cursor">Analytics</p>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                    <i class="mdi mdi-download text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                    <i class="mdi mdi-clock-outline text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                    <i class="mdi mdi-plus text-muted"></i>
                </button>
                <button class="btn btn-primary mt-2 mt-xl-0">Generate report</button>
            </div>
        </div>
    </div>
</div>

<!-- page information -->

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6 col-xl-6 grid-margin stretch-card">
                    <label for="SelectTower" class="col-sm-5 col-form-label">Torre</label>
                    <select class="form-control col-sm-5 d-inline" id="SelectTower">
                        <option>Torre 1</option>
                        <option>Torre 2</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-xl-6 grid-margin stretch-card">
                    <label for="SelectTower" class="col-sm-5 col-form-label">Fecha inicial</label>
                    <input type="date" class="col-sm-6"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-xl-6 grid-margin stretch-card">
                    <label for="SelectTower" class="col-sm-5 col-form-label">Apartamento</label>
                    <select class="form-control col-sm-5 d-inline" id="SelectTower">
                        <option>Apartamento 101</option>
                        <option>Apartamento 102</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-xl-6 grid-margin stretch-card">
                    <label for="SelectTower" class="col-sm-5 col-form-label">Fecha Final</label>
                    <input type="date" class="col-sm-6"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-xl-6 grid-margin stretch-card">
                    <label for="SelectTower" class="col-sm-5 col-form-label">Tipo de pago</label>
                    <select class="form-control col-sm-5 d-inline" id="SelectTower">
                        <option>Administración</option>
                        <option>Cuotas Extraordinarias</option>
                        <option>Multas</option>
                        <option>Parqueadero</option>
                        <option>Acuerdo de pago</option>
                        <option>Reserva Zona Común</option>

                    </select>
                </div>

                
                <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Submenu action</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu action</a></li>


                            <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Subsubmenu action aa</a></li>
                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Subsubmenu action bb</a></li>
                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                            <li><a class="dropdown-item" href="#">Another submenu action 2</a></li>


                            <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Subsubmenu action 1 3</a></li>
                                    <li><a class="dropdown-item" href="#">Another subsubmenu action 2 3</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu 3</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Subsubmenu action 3 </a></li>
                                    <li><a class="dropdown-item" href="#">Another subsubmenu action 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            
               
            </div>

        </div>
    </div>
</div>